body{
  background-color: #f4f4f4;
  color:#555; /*this will change only the color of the text */
  font-family: Arial, Helvetica, sans-serif;/*Cambia la forma de la letra(font) */
  font-size: 16px; /*El tamano de la letra, lo normal es 16px */
  font-weight: normal;;/*es el gruesor de la letra*/

  font: normal 16px Arial, Helvetica, sans-serif;/*una forma corta de hacer lo mismo de arriba*/

  line-height: 1.6em; /*Espacio entre lineas, em is a unit used in responsive */
}
.box-1{
  background-color: #333;
  color:#fff;
  border:5px red solid;
}
.container{
  width: 80%;
  margin:auto;
}
